src/main/mule/template-sfdc2sfdc-account-broadcast.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<salesforce:sfdc-config name="Salesforce_Sfdc_A_config"
		doc:name="Salesforce Sfdc config" doc:id="38a0808d-8f32-4c87-a763-4db431b3c4cd">
		<salesforce:basic-connection username="${sfdc.a.username}"
			password="${sfdc.a.password}" securityToken="${sfdc.a.securityToken}" />
	</salesforce:sfdc-config>
	<salesforce:sfdc-config name="Salesforce_Sfdc_B_config"
		doc:name="Salesforce Sfdc config" doc:id="3d4eabb0-83f2-4e02-97e1-77c5417347f7">
		<salesforce:basic-connection username="${sfdc.b.username}"
			password="${sfdc.b.password}" securityToken="${sfdc.b.securityToken}" />
	</salesforce:sfdc-config>
	<configuration-properties file="common.properties"
		doc:name="Configuration properties" doc:id="523e4eea-d00f-4213-bde7-a2764a635851" />
	<configuration-properties file="mule.${mule.env}.properties" doc:name="Configuration properties" doc:id="7115a17b-4a67-4607-8a7c-e8f91b0737de" />
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4af34f10-992b-4bd7-b64e-b9fc226b9ccb" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<flow name="pushFlow" doc:id="d06d2b84-ba6d-4c74-9b26-f6443b4e0245" >
		<http:listener config-ref="HTTP_Listener_config" path="/" doc:name="Listener" doc:id="8c55bfe5-1ace-4ff7-b08f-6937c33f7077" />
		<logger level="INFO" doc:name="Log about push notification" doc:id="33c971d9-fe8d-4219-8c3a-96eb41796dea" message="Triggered pushFlow" />
		<choice doc:name="Choice" doc:id="ab49295a-6cfe-4ff6-b01e-ee10907e9442" >
			<when expression="#['push' == '${trigger.policy}']" >
				<ee:transform doc:name="Transform Message" doc:id="319ace93-f407-4cbc-9bb3-51d89021f6ff" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload.Envelope.Body.notifications.*Notification map {
	Id: $.Id,
	Description: $.sObject.Description,
	Industry: $.sObject.Industry,
	Name: $.sObject.Name,
	NumberOfEmployees: $.sObject.NumberOfEmployees,
	LastModifiedDate: $.sObject.LastModifiedDate
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<flow-ref name="businessLogicFlow" doc:name="businessLogicFlow" doc:id="a6d7734e-bc60-41cc-ad58-5ec889c92665" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Log about skipped message" doc:id="93bbbb8d-2cd9-4ee0-aa20-2f6caf49970c" message="Trigger policy has been set to POLL. Skipping this message"/>
			</otherwise>
		</choice>
	</flow>
	<flow name="schedulerFlow" doc:id="aff4106d-d2f6-4366-940a-a380dcb1cf73" >
		<scheduler doc:name="Scheduler" doc:id="58b7c776-fbee-4753-9bea-f6cc3e037efd" >
			<scheduling-strategy >
				<fixed-frequency frequency="${scheduler.frequency}" startDelay="${scheduler.start.delay}"/>
			</scheduling-strategy>
		</scheduler>
		<choice doc:name="Choice" doc:id="b0cb7e8f-6903-4ae5-9f5b-6bbfe1848095" >
			<when expression="#['poll' == '${trigger.policy}']" >
				<salesforce:query config-ref="Salesforce_Sfdc_A_config" doc:name="Query Accounts from Salesforce instance A" doc:id="ebcf71a8-3192-4437-b2cb-b23f008afae5">
			<salesforce:salesforce-query>SELECT AccountNumber, Description, Industry, Name, NumberOfEmployees FROM Account WHERE NumberOfEmployees &gt; 11000 AND (Industry = 'Education' OR Industry = 'Government')</salesforce:salesforce-query>
		</salesforce:query>
				<flow-ref name="businessLogicFlow" doc:name="businessLogicFlow" doc:id="e16bf02c-b833-47de-afd5-2329ce1fab2b" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Log about skipped message" doc:id="242c440a-7556-414f-a413-ecdd6a09e7f1" message="Trigger policy has been set to PUSH. Skipping this message"/>
			</otherwise>
		</choice>
	
</flow>
	<flow name="businessLogicFlow" doc:id="8759532e-79b7-4789-990c-dc8e162bfd67" >
		<batch:job jobName="migrateAccountsBatch" doc:id="204892ae-0d97-4326-beae-310c8d52b7a6">
			<batch:process-records>
				<batch:step name="Batch_Step-query-a-destination-instance-B" doc:id="89713774-362a-4e92-9bdc-41e31802bf38">
					<salesforce:query-single config-ref="Salesforce_Sfdc_B_config" doc:name="Query Account in Salesforce instance B" doc:id="e828fbe5-8917-4833-a479-8df69b560884" target="IdInB">
						<salesforce:salesforce-query>SELECT Id FROM Account WHERE Name = ':name'</salesforce:salesforce-query>
						<salesforce:parameters><![CDATA[#[output applicaton/java
---
{
	"name" : payload.Name
}]]]></salesforce:parameters>
					</salesforce:query-single>
					<ee:transform doc:name="Enrich Payload with IdInB" doc:id="c119f87d-9095-4962-b961-efe507b06a0c">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload ++ vars.IdInB]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</batch:step>
				<batch:step name="Batch_Step-migrate-data-to-destination-instance-B" doc:id="78a74ab4-9b91-416d-985a-acda2ac377eb">
					<batch:aggregator doc:name="Batch Aggregator" doc:id="1ad86a98-643e-494a-a90a-32daab0b03cc" size="${page.size}">
						<ee:transform doc:name="Transform Message" doc:id="d484063f-6d81-42ce-98ef-7cec51b04672">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload map {
	Id: $.Id,
	AccountNumber: $.AccountNumber,
	Description: $.Description,
	Name: $.Name,
	Industry: $.Industry,
	NumberOfEmployees: $.NumberOfEmployees
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<salesforce:upsert-bulk config-ref="Salesforce_Sfdc_B_config" type="Account" externalIdFieldName="Id" doc:name="Upsert bulk - Accounts in Salesforce instance B" doc:id="26dee78b-3cbd-41d7-a260-538058420b0e" />
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete>
				<ee:transform doc:name="Prepare migration result" doc:id="c84b4bc4-5a65-41c1-9d0c-f1ebd3d8db7a">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output text/plain
---
"Migration Report: \n"
 
++ "\n Time [milliseconds]: " 		++ payload.elapsedTimeInMillis
++ "\n Total Records: "				++ payload.totalRecords
++ "\n Successful Records: "		++ payload.successfulRecords
++ "\n Failed Records: "			++ payload.failedRecords
++ "\n Loaded Records: "			++ payload.loadedRecords
++ "\n Processed Records: " 		++ payload.processedRecords]]></ee:set-payload>
							</ee:message>
						</ee:transform>
				<logger level="INFO" doc:name="Migration process has finished!" doc:id="b7575d38-7dbd-4602-9186-1bbb25234896" message="#[payload]" />

			</batch:on-complete>
		
</batch:job>
	</flow>

</mule>

